<div class="container" >

    <div id="admin">

        <div class="alert alert-success" role="alert">Welcome on the administration</div>

        <div class="row" style="padding-bottom: 10px;">

            <div class="col-md-4">
                <img ng-src="img/quentin.jpg" alt="User Avatar" class="img-circle" width="120px">
            </div>

            <div class="col-md-8">
                Quentin
            </div>

        </div>

        <div class="row" style="padding-bottom: 10px;">

            <div class="col-md-12">

                <button class="btn btn-primary" type="button">
                    Users <span class="badge">4</span>
                </button>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12">

                <table class="table table-bordered table-striped">
                    <thead>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Pseudo</th>
                        <th>Img</th>
                    </thead>
                    <tr ng-repeat="user in adminCtrl.users">
                        <td>{{ user.email }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.pseudo }}</td>
                        <td>{{ user.img }}</td>
                    </tr>
                </table>

            </div>

        </div>

        <div class="row" style="padding-bottom: 10px;">

            <div class="col-md-12">

                <button class="btn btn-primary" type="button">
                    Activities <span class="badge">50</span>
                </button>

            </div>

        </div>

        <div class="row">

            <div class="col-md-12">

                <table class="table table-bordered table-striped">
                    <thead>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Distance</th>
                        <th>Date</th>
                    </thead>
                    <tr ng-repeat="activity in adminCtrl.activities">
                        <td>{{ activity.type }}</td>
                        <td>{{ activity.name }}</td>
                        <td>{{ activity.distance | number:2}}</td>
                        <td>{{ activity.start_date | date:'dd/MM/yyyy'}}</td>
                    </tr>
                </table>

            </div>

        </div>

    </div>

</div>