/* Imports */
/* Variables */
/* Code */
body {
  background-color: #EEEEEE;
}

#loginbox {
  max-width: 450px;
  margin: 0 auto 20px;
  background-color: #F5F5F5;
  margin-top: 10px;
  -moz-box-shadow: #555555 4px 4px 15px;
  -webkit-box-shadow: #555555 4px 4px 15px;
  box-shadow: #555555 4px 4px 15px;
}
#loginbox .panel-info {
  border-color: #FFFFFF;
}
#loginbox .panel-heading {
  background-color: white !important;
  border-color: #EEEEEE !important;
}
